* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(to bottom, #0a1f44, #081731);
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px 60px;
}

.hero h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

.hero p {
  margin-top: 12px;
  opacity: 0.7;
  letter-spacing: 1px;
}

/* CATEGORY SECTION */
.categories {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px 8% 100px;
  flex-wrap: wrap;
}

.category {
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.4s;
}

.category img {
  width: 320px;
  height: 400px;
  object-fit: cover;
  border-radius: 18px;
  filter: brightness(0.9);
  transition: 0.4s;
}

.category:hover img {
  transform: scale(1.05);
  filter: brightness(1);
}

.label {
  margin-top: 15px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  opacity: 0.85;
}
