* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(to bottom, #0a1f44, #081731);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center Layout */
.center-container {
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 40px;
}

/* Buttons */
.category-buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.category-btn {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 18px 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  color: white;
  transition: 0.3s;
}

.category-btn:hover {
  transform: translateY(-6px);
  background: rgba(255, 255, 255, 0.18);
}
/* Pages Layout */
.page-container {
  text-align: center;
  padding: 60px 20px;
}

.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.grid img {
  width: 100%;
  border-radius: 12px;
  background: white;
  padding: 10px;
}

.back-btn {
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

