/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BACKGROUND */
body {
  background: linear-gradient(to bottom, #0a1f44, #081731);
  color: white;
  min-height: 100vh;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px 60px;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero p {
  margin-top: 10px;
  opacity: 0.8;
}

/* CATEGORY BUTTONS */
.categories {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 10%;
  flex-wrap: wrap;
}

.cat-card {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 22px 60px;
  border-radius: 14px;
  border: 1px solid rgba(255,255,255,0.15);
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(8px);
  transition: 0.3s ease;
}

.cat-card:hover {
  background: rgba(255,255,255,0.12);
  transform: translateY(-6px);
}

/* STORE GRID */
.store-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding: 80px 10%;
}

/* PRODUCT CARD */
.product-card {
  background: rgba(255,255,255,0.05);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  border-radius: 12px;
  background: white;
  padding: 15px;
}

.product-card h3 {
  margin-top: 15px;
  font-size: 1.1rem;
}

.price {
  margin-top: 5px;
  opacity: 0.8;
}
